:root{
  --font-primary: 'Raleway', sans-serif;
  --font-secondary: 'Open Sans', sans-serif;
  --dark-blue: hsl(243, 87%, 12%);
  --desaturated-blue: hsl(238, 22%, 44%);
  --bright-blue: hsl(224, 93%, 58%);
  --moderate-cyan: hsl(170, 45%, 43%);
  --light-grayish-blue: hsl(240, 75%, 98%);
  --light-gray: hsl(0, 0%, 75%);
}

*, *::before, *::after{
  box-sizing: border-box;
}

body{
  margin: 0;
  font-family: var(--font-secondary);
  background-color: var(--light-grayish-blue);
}

ul{
  list-style: none;
  padding: 0;
  margin: 0;
}

img{
  width: 100%;
}

label{
  display: none;
}

.u-wrapper{
  max-width: 1328px;
  padding: 0 24px;
  margin: 0 auto;
}
.header-container{
  padding: 24.5px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  width: 24.9%;
}
.navbar{
  font-size: 12px;
  display: grid;
  grid-template-columns: repeat(3, max-content);
  grid-template-rows: 1fr;
  column-gap: 24px;
  font-family: var(--font-secondary);
}

.hero-container{
  margin: 4rem 0;
  display: grid;
  grid-template-rows: max-content;
  row-gap: 30px;
}
.hero-img img{
  transform: scale(0.95);
}
.hero-content{
  text-align: center;
}
.hero-title{
  margin: 0;
  color: var(--dark-blue);
  font-size: 24px;
  line-height: 36px;
  font-family: var(--font-primary);
  font-weight: 700;
}
.hero-description{
  margin: 1.5rem auto 2rem;
  font-size: 0.9rem;
  width: 90%;
}
.hero-form{
  display: grid;
  width: 300px;
  margin: 0 auto;
  grid-template-columns: 1fr;
  column-gap: 16px;
  row-gap: .8rem;
}

.u-input{
  color: var(--light-gray);
  padding: 0.8rem 1rem;
  border-radius: 3px;
}

.u-btn{
  background-color: var(--bright-blue);
  color: white;
  font-weight: 700;
  padding: 0.8rem 0;
  font-family: var(--font-primary);
  border: none;
  box-shadow: 2px 3px 6px #00000023;
  border-radius: 3px;
}

.stay{
  margin: 183px 0 81.9px;
}
.stay-container{
  display: grid;
  row-gap: 4rem;
}
.stay-title{
  font-size: 1rem;
  font-weight: 700;
  font-family: var(--font-primary);
  text-align: center;
  margin: 1.5rem 0;
  color: var(--dark-blue);
}
.stay-content{
  font-size: 14px;
  line-height: 21px;
}

.link-container{
  margin: 36px 0 40px;
  display: flex;
  justify-content: center;
}
.stay-link{
  display: inline-flex;
  width: fit-content;
  color: var(--moderate-cyan);
  text-decoration: none;
  font-size: 12px;
  padding: 0 0.2rem 0.2rem 0;
  border-bottom: 1px solid var(--moderate-cyan);
}
.link-img{
  background-repeat: no-repeat;
  display: block;
  position: relative;
  top: 3px;
  left: 6px;
  width: 16px;
  height: 16px;
  background-size: 16px 16px;
  background-image: url(./images/icon-arrow.svg);
}

.opinion{
  padding: 2.3rem 12px 1rem 26px;
  background-image: url(./images/icon-quotes.svg);
  background-repeat: no-repeat;
  background-position: 26px 24px;
  font-size: 0.8rem;
  max-width: 280px;
  margin: 0 auto;
  box-shadow: 0 0 5px -2px var(--light-gray);
  border-radius: 5px;
}
.opinion-content{
  font-size: 10px;
  margin: 5px 0 12px;
  line-height: 18.09px;
  letter-spacing: 0.38px;
}
.opinion-user{
  display: grid;
  grid-template-columns: 24px 1fr;
  column-gap: 7.5px;
}
.user-img{
  border-radius: 50%;
}
.user-name,
.user-position{
  margin: 0;
}
.user-name{
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 0.6rem;
  font-size: 9px;
  line-height: 13px;
  letter-spacing: 0.5px;
}
.user-position{
  font-size: 6px;
  line-height: 11px;
  letter-spacing: 0.3px;
}

.early{
  background-color: var(--desaturated-blue);
}
/* .u--large{
  width: 100%;
} */
.early-container{
  padding: 40px 1rem 70px;
  color: white;
}
.early-title{
  font-size: 1.1rem;
  text-align: center;
  color: white;
}
.early-description{
  line-height: 1.4rem;
  margin: 0;
  font-size: 0.95rem;
  opacity: 0.8;
  text-align: center;
  color: white;
}
.early-form .u-input{
  border: none;
}
.early-form{
  padding: 0 28px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 32px 32px;
  row-gap: 8px;
  margin-top: 22px;
}
.early-form .u-input,
.early-form .u-btn{
  padding: 0.5rem;
  font-size: 0.6rem;
}

.footer{
  background-color: var(--dark-blue);
  color: white;
  font-family: var(--font-primary);
}
.footer-container{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(5, fit-content);
  padding: 65px 1rem 47px;
  row-gap: 3.1rem;
}
.footer-logo{
  width: 60%;
}
.contact{
  margin: 0;
  display: grid;
  position: relative;
  bottom: 10px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 1.1rem;
}
.contact-item{
  display: grid;
  grid-template-columns: 18px 1fr;
  align-items: center;
  column-gap: 1rem;
}
.contact-item p{
  margin: 0;
}
.social-media-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.social-media{
  display: grid;
  grid-template-columns: repeat(3, 25px);
  grid-template-rows: 25px;
  column-gap: 15px;
}
.social-icon-container{
  padding: 0 5px;
  display: flex;
  align-items: center;
  border-radius: 50%;
  border: 1px solid white;
}
.nav-list{
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 1rem;
}
.nav-list li{
  line-height: 22px;
}

@media(min-width: 768px){
  .header-container{
    padding: 66px 0px;
  }
  .logo{
    width: 160px;
  }
  .navbar{
    column-gap: 56px;
    font-size: 16px;
  }
  .hero-container{
    grid-template-columns: 1fr 1fr;
    margin: 2rem 0;
  }
  .hero-content{
    grid-area: 1 / 1 / 2 / 2;
    text-align: left;
    padding-top: 4rem;
  }
  .hero-title{
    font-size: 40px;
    line-height: 60px;
  }
  .hero-description{
    width: initial;
    margin: 1rem 0 1.5rem;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 1px;
  }
  .hero-form{
    grid-template-columns: 1fr 200px;
    width: 536px;
    margin: 0;
  }
  .stay{
    padding: 120px 0 0;
  }
  .stay-container{
    grid-template-columns: 57% 43%;
  }
  .stay-container > img {
    position: relative;
    top: 45px;
    left: 7px;
  }
  .stay-content{
    grid-area: 1 / 1 / 2 / 2;
    align-items: center;
  }
  .stay-title{
    font-size: 40px;
    line-height: 47px;
    text-align: left;
    margin-bottom: 2.4rem;
    letter-spacing: 0.3px;
  }
  .stay-copy{
    max-width: 560px;
    line-height: 24px;
    font-size: 16px;
    letter-spacing: 0.2px;
  }
  .link-container{
    display: block;
    margin-top: 0;
  }
  .stay-link{
    font-size: 16px;
  }
  .opinion{
    margin: 0;
    max-width: 350px;
    padding: 50px 34px;
    background-position: 34px 34px;
  }
  .opinion-content{
    font-size: 13px;
    line-height: 23px;
    margin-bottom: 15px;
  }
  .opinion-user{
    grid-template-columns: 32px 1fr;
  }
  .user-name{
    font-size: 11px;
    line-height: 15px;
    letter-spacing: 1px;
  }
  .user-position{
    font-size: 8px;
    line-height: 15px;
  }
  .early-container{
    padding: 100px 40px 85px 0;
    display: flex;
    justify-content: space-between;
  }
  .early-title{
    font-size: 2rem;
    line-height: 3rem;
    margin-top: 0;
    text-align: left;
    margin-bottom: 1rem;
    font-family: var(--font-primary);
  }
  .early-description{
    max-width: 520px;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    letter-spacing: 0.53px;
    font-family: var(--font-secondary);
  }
  .early-form{
    width: 480px;
    padding: 0;
    margin-top: 13px;
    grid-template-rows: 47px 48px;
    row-gap: 1rem;
  }
  .early-form .u-input{
    font-size: 12px;
  }
  .early-form .u-btn{
    font-size: 14px;
    max-width: 200px;
  }
  .footer-container{
    position: relative;
    max-width: 1100px;
    padding: 183px 0 72px;
    grid-template-columns: 40.4% 24.4% 1fr 1fr;
  }
  .footer-logo{
    width: 100%;
  }
  .footer-logo-container{
    position: absolute;
    top: 107px;
    width: 175px;
  }
  .social-media-container{
    align-items: flex-start;
    justify-content: flex-end;
  }
  .social-media{
    padding: 2px;
    grid-template-columns: repeat(3, 31px);
    grid-template-rows: 31px;
    column-gap: 13.5px;
  }
  .social-icon-container {
    padding: 0 8px;
  }
  .contact {
    grid-template-rows: repeat(2, max-content);
    padding-left: 4px;
    bottom: 0;
    top: 3px;
    row-gap: 22px;
    column-gap: 22px;
  }
  .contact-item{
    letter-spacing: 0.4px;
  }
  .nav-list{
    grid-template-rows: max-content max-content max-content;
  }
}
